.menu-nav .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    
}

.menu-nav .nav ul{
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    list-style-type: none;
    

}
.menu-nav .nav{
    background: linear-gradient(135deg, rgba(235, 8, 8, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    max-width: 100%;
    max-height: 100%;
    transform: translateY(-42px);
    padding-top: 3%;
}
.menu-nav .nav ul li{
    padding: 0 10px;


}
.menu-nav .nav ul li a{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-style: italic;
    
}

.menu-nav .nav ul li{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    width: 60px;
    background: linear-gradient(135deg, rgba(235, 8, 8, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-weight: bold;
    font-style: italic;
}

#burger-img{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 20vw; 
    height: auto; 
    
}
.menu-bg-img{
    display: flex;
    justify-content: center;
}


body{
    background-image: url("/images/menu images/wood-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;



}
.m1{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background: linear-gradient(135deg, rgba(183, 6, 6, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin: 3%;
    position: relative;
    max-width: 20%;
    flex: 1 1 calc(33.33% - 10px);
    overflow: hidden;
    justify-content: space-between;


}
#m1-img{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    box-shadow: 5px 5px 7px rgb(0, 0, 0);;


    border-radius: 50px 50px 80px 0;
    height: 60%;
}
#filter-controls {
    margin-bottom: 20px;

}

#filter-controls button {
    margin-right: 10px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #680404;
    color: white;
    font-weight: bold;
    font-family:monospace;
    font-style: italic;
    font-size: 13px;
    border: none;
    border-radius: 5px;

}
#meals{
    display: flex;
    direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
}
#filter-controls button:hover {
    background-color: #b30009;
}

.hidden {
    display: none; 
}
#meals .m1 .head h1{
    color: rgb(201, 52, 19);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: oblique;
    position: relative;
    bottom: 30%;

}
#meals .m1 .head{
    display: flex;
    justify-content: center;
    width: 100%;
}
.order-btns{
    height: fit-content;
    position: absolute;
    top: 80%;
    left: 4%;
    display: block;
    width: 100%;
}
.order-btns button{
    margin-left: 6%;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #680404;
    color: white;
    font-weight: bold;
    font-family:monospace;
    font-style: italic;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    width: fit-content;
}
.order-btns button:hover{
    background-color: #b30009;

}
.who-con img{
    width: 20%;
    position: relative;
    top: -90px;
    right: -40%;
}
.who-con{
    width: 100%;
    background-color: rgb(81, 28, 3);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    position: relative;
    margin-top: 10%;
    flex-direction: row;
    flex-wrap: wrap;
}
.who-con .dev{
    font-family: "Protest Revolution", sans-serif;
    position: relative;
    left: -30%;
    font-size: 70px;
    color: #b30009;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.who-con .rest{
    font-family: "Protest Revolution", sans-serif;
    position: relative;
    left: -10%;
    font-size: 70px;
    color: #b30009;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}
.price{
    background-color: rgb(255, 0, 0);
    width: 40%;
    position: relative;
    bottom: 90%;
    height : 10%;
    left: 60%;
    border-radius: 0px 50px 0 50px;
    display: flex;
    justify-content: center;
    box-shadow: 5px 5px 7px rgb(0, 0, 0);;
}
.price p{
    font-size: 30px;
    position: relative;
    bottom: 30%;
    font-weight: bold;
    
}
.user-fb{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(183, 6, 6, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 100px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.user-fb img{
    border-radius:  0 50px;
    height: 70%;
    width: 10%;
    left: 44%;
    box-shadow: 5px 5px 7px rgb(0, 0, 0);;

}
.usr-con{
    display: flex;
    justify-content: center;
}
.usr-name{
    position: relative;
    bottom: 50%;
    left: 40%;
}